{% extends "base.html" %} {% block title %} Home Page {% endblock %}
{% block content %}
<p>I have completed several projects in the data science, such as: </p>
    <ul>
        <li><b>Django project</b>: built a web application based on django framework.</li>
        <li><b>ETL pipeline</b>: built a data pipeline which includes extracting and transforming raw data and load the cleaned data into a data warehouse/database. </li>
        <li><b>Unicorn Companies Analysis</b>: Conducted comprehensive analysis on unicorn companies. </li>
    </ul>
    <p>Feel free to check out my work in my GitHub (https://github.com/bopith).</p>
{% endblock %}